@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor01: #1E1E1E; /* Fundo   */
    --cor02: #BDBDBD; /* Textos */
    --cor03: #00BDEA;
    --cor04: #0003A9;/* hover dos links da barra lateral  */
    --cor05: #C9A227; /* Botões nos preços dos cortes */
    --barra-lateral: #2A2A2A;


    --fonte-padrao: ;
    --fonte-destaque: ;
}

body{
    display: flex;
    background-color: var(--cor01);
}

.barra-lateral{
    background-color: var(--barra-lateral);
    border-right: 1.5px solid var(--cor02);
    min-height: 100vh;
    min-width: 190px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.barra-lateral span{
    color: var(--cor03);
}

.barra-lateral h1{
    color: var(--cor02);
    font-size: 1.6rem;
    margin: 25px 0 35px 0;
    padding-bottom: 8px;
    border-bottom: 1px solid #fff;
}

.lista-lateral{
    list-style: none;
}

.lista-lateral li{
    margin: 35px 0;
}

.lista-lateral li a{
    color: var(--cor02);
    text-decoration: none;
    transition: 0.5s;
}

.lista-lateral li a:hover{
    background-color: var(--cor04);
    border-radius: 3px;
    padding: 7px;
}


section{
    background-color: #fff;

}

div{
    background-color: #00BDEA;
    margin: 20px;
}
